PORT=8083
SERVICE_NAME=FarmaExpres_Micro_Alert
NODE_ENV=development
APP_TIME_ZONE=America/Bogota
INVENTORY_PRODUCTS_TABLE=product
EXPIRING_SOON_DAYS=15
DB_HOST=postgres
DB_PORT=5432
DB_NAME=farmaexpres_inventory
DB_USER=postgres
DB_PASSWORD=1234
DB_SSL=false
